mqtt:
  enabled: false

auth:
  enabled: true

database:
  path: /config/frigate.db

detectors:
  ov:
    type: openvino
    device: GPU

model:
  width: 300
  height: 300
  model_type: ssd
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  input_tensor: nhwc
  input_pixel_format: bgr

go2rtc:
  streams:
    MACCELL_02:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=0#input=rtsp/udp
    MACCELL_02_sub:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=1#input=rtsp/udp
    MACCELL_04:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=0#input=rtsp/udp
    MACCELL_04_sub:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=1#input=rtsp/udp
    MACCELL_06:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=0#input=rtsp/udp
    MACCELL_06_sub:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=1#input=rtsp/udp
    MACCELL_08:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=0#input=rtsp/udp
    MACCELL_08_sub:
      - rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=1#input=rtsp/udp

cameras:
  MACCELL_02:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_02_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_04:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_04_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_06:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_06_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_08:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_08_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

objects:
  track:
    - person
    - car
    - motorcycle

snapshots:
  enabled: false
  timestamp: true
  bounding_box: true
  retain:
    default: 10

detect:
  enabled: true

version: 0.16-0