database:
  path: /db/frigate.db

mqtt:
  enabled: False

detectors:
  ov:
    type: cpu

ffmpeg:
  hwaccel_args: preset-vaapi

go2rtc:
  streams:
    # SUCURSAL 1
    MACCELL_1_01: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=0
    MACCELL_1_01_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=1
    MACCELL_1_02: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=0
    MACCELL_1_02_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=1
    MACCELL_1_03: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=0
    MACCELL_1_03_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=1
    MACCELL_1_04: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=0
    MACCELL_1_04_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=1
    MACCELL_1_05: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=0
    MACCELL_1_05_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=1
    MACCELL_1_06: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=0
    MACCELL_1_06_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=1
    MACCELL_1_07: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=0
    MACCELL_1_07_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=1
    MACCELL_1_08: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=0
    MACCELL_1_08_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=1
    # SUCURSAL 2
    MACCELL_2_01: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=1&subtype=0
    MACCELL_2_01_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=1&subtype=1
    MACCELL_2_02: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=0
    MACCELL_2_02_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=1
    MACCELL_2_03: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=3&subtype=0
    MACCELL_2_03_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=3&subtype=1
    MACCELL_2_04: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=0
    MACCELL_2_04_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=1
    MACCELL_2_05: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=5&subtype=0
    MACCELL_2_05_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=5&subtype=1
    MACCELL_2_06: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=0
    MACCELL_2_06_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=1
    MACCELL_2_07: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=7&subtype=0
    MACCELL_2_07_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=7&subtype=1
    MACCELL_2_08: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=0
    MACCELL_2_08_sd: rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=1

cameras:
  MACCELL_1_01:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_01_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_01
          roles: [record]
    detect: &def_detect
      width: 640
      height: 360
      fps: 5

  MACCELL_1_02:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_02_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_02
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_03:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_03_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_03
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_04:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_04_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_04
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_05:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_05_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_05
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_06:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_06_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_06
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_07:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_07_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_07
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_1_08:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_1_08_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_1_08
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_01:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_01_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_01
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_02:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_02_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_02
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_03:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_03_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_03
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_04:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_04_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_04
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_05:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_05_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_05
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_06:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_06_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_06
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_07:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_07_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_07
          roles: [record]
    detect: { <<: *def_detect }

  MACCELL_2_08:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/MACCELL_2_08_sd
          roles: [detect]
        - path: rtsp://127.0.0.1:8554/MACCELL_2_08
          roles: [record]
    detect: { <<: *def_detect }

# Global record Config
record:
  enabled: False
  retain:
    days: 0
    mode: all

# Global snapshots Config
snapshots:
  enabled: True
  retain:
    default: 15