mqtt:
  enabled: false

auth:
  enabled: true

database:
  path: /config/frigate.db

detectors:
  ov:
    type: openvino
    device: AUTO

model:
  width: 300
  height: 300
  model_type: ssd
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  input_tensor: nhwc
  input_pixel_format: bgr



go2rtc:
  streams:
    maccell_02:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=0#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_02_sub:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=2&subtype=1#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_04:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=0#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_04_sub:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=4&subtype=1#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_06:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=0#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_06_sub:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=6&subtype=1#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_08:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=0#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11
    maccell_08_sub:
      - ffmpeg:rtsp://admin:Cada0108@192.168.0.45:554/cam/realmonitor?channel=8&subtype=1#video=copy#bsf:v=h264_metadata=sample_aspect_ratio=16/11

cameras:
  MACCELL_02:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/maccell_02
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/maccell_02_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_04:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/maccell_04
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/maccell_04_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_06:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/maccell_06
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/maccell_06_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

  MACCELL_08:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/maccell_08
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/maccell_08_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    record:
      enabled: false
      retain:
        days: 7
        mode: all

objects:
  track:
    - person
    - car
    - motorcycle

snapshots:
  enabled: false
  timestamp: true
  bounding_box: true
  retain:
    default: 10
detect:
  enabled: true
version: 0.16-0
