mqtt:
  enabled: False

# Auth - Seguridad
auth:
  enabled: true

# Configuración de los detectores
detectors:
  ov:
    type: cpu

# Configuración global de grabación
record:
  enabled: False
  retain:
    days: 0
    mode: all

# Snapshots (Imágenes fijas de eventos)
snapshots:
  enabled: True
  retain:
    default: 15 # Días

# Go2RTC - Motor de Streaming para ver en HD
go2rtc:
  streams:
    # Cámara 1
    cam_01_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=0
    cam_01_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=1
    # Cámara 2
    cam_02_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=0
    cam_02_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=1
    # Cámara 3
    cam_03_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=0
    cam_03_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=1
    # Cámara 4
    cam_04_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=0
    cam_04_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=1
    # Cámara 5
    cam_05_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=0
    cam_05_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=1
    # Cámara 6
    cam_06_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=0
    cam_06_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=1
    # Cámara 7
    cam_07_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=0
    cam_07_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=1
    # Cámara 8
    cam_08_hd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=0
    cam_08_sd: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=1

# Configuración de cámaras
cameras:
  cam_01:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_01_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_01_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_02:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_02_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_02_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_03:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_03_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_03_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_04:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_04_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_04_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_05:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_05_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_05_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_06:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_06_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_06_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_07:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_07_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_07_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  cam_08:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/cam_08_sd
          roles: ['detect']
        - path: rtsp://127.0.0.1:8554/cam_08_hd
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']
