mqtt:
  enabled: False

# Auth - Seguridad
auth:
  enabled: true
  reset_admin_password: true

# Configuración de los detectores
detectors:
  ov:
    type: cpu

# Configuración global de grabación
record:
  enabled: True
  retain:
    days: 7
    mode: all

# Snapshots (Imágenes fijas de eventos)
snapshots:
  enabled: True
  retain:
    default: 15 # Días

# Configuración de cámaras por sucursal
cameras:
  sucursal_01: # MacCell DVR Local
    enabled: True
    ffmpeg:
      inputs:
        # Stream para detección (Sub-stream: menor resolución)
        - path: rtsp://administrador:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=1
          roles:
            - detect
        # Stream para grabación (Main-stream: 1080p)
        - path: rtsp://administrador:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record
    detect:
      width: 1280
      height: 720
      fps: 5
    
    # Lógica de Conteo de Personas
    zones:
      entrada_sucursal:
        coordinates: 457,720,832,720,805,432,514,435
        objects:
          - person
    
    # Filtros
    objects:
      track:
        - person
      filters:
        person:
          min_area: 5000
          max_area: 100000
          threshold: 0.7

