mqtt:
  enabled: False

# Auth - Seguridad
auth:
  enabled: True

# Configuración de los detectores
detectors:
  ov:
    type: cpu

# Configuración global de grabación
record:
  enabled: True
  retain:
    days: 7
    mode: all

# Snapshots (Imágenes fijas de eventos)
snapshots:
  enabled: True
  retain:
    default: 15 # Días

# Configuración de cámaras por sucursal
cameras:
  sucursal_01: # Ejemplo: Casa Central
    enabled: True
    ffmpeg:
      inputs:
        # Stream para detección (Baja resolución)
        - path: rtsp://user:pass@IP_O_DOMINIO:554/cam/realmonitor?channel=1&subtype=1
          roles:
            - detect
        # Stream para grabación (Alta resolución)
        - path: rtsp://user:pass@IP_O_DOMINIO:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record
    detect:
      width: 1280
      height: 720
      fps: 5
    
    # Lógica de Conteo de Personas
    zones:
      entrada_sucursal:
        coordinates: 457,720,832,720,805,432,514,435
        objects:
          - person
    
    # Filtros
    objects:
      track:
        - person
      filters:
        person:
          min_area: 5000
          max_area: 100000
          threshold: 0.7

  sucursal_02:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://user:pass@IP_SUCURSAL_2:554/cam/realmonitor?channel=1&subtype=1
          roles:
            - detect
        - path: rtsp://user:pass@IP_SUCURSAL_2:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record
