mqtt:
  enabled: False

# Auth - Seguridad
auth:
  enabled: true

# Configuración de los detectores
detectors:
  ov:
    type: cpu

# Configuración global de grabación
record:
  enabled: False
  retain:
    days: 0
    mode: all

# Snapshots (Imágenes fijas de eventos)
snapshots:
  enabled: True
  retain:
    default: 15 # Días

# Configuración de cámaras por sucursal
cameras:
  # Cámara 1
  cam_01:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=1&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 2
  cam_02:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=2&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 3
  cam_03:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=3&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 4
  cam_04:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=4&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 5
  cam_05:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=5&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 6
  cam_06:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=6&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 7
  cam_07:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=7&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

  # Cámara 8
  cam_08:
    enabled: True
    ffmpeg:
      inputs:
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=1
          roles: ['detect']
        - path: rtsp://admin:Cada0108@192.168.100.215:554/cam/realmonitor?channel=8&subtype=0
          roles: ['record']
    detect:
      width: 1280
      height: 720
      fps: 5
    objects:
      track: ['person']

